@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html, body{height: 100%;} */

#wrap {
    width: 100%;
    /* height: 100%; */
    height: 100vh;
    background-color: #f1f1f1;
    position: relative;
}

.pc_wrap {
    width: 970px;
    height: 680px;
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
}

.box {
    width: 744px;
    height: 420px;
    /* 2038-420 */
    position: absolute;
    top: 36px;
    right: 32px;
    overflow: hidden;
}

.box img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.box:hover img {
    animation: ani01 10s 2s infinite ease-in-out alternate;
}

@keyframes ani01{
    0%{top: 0;}
    100%{top: calc(-2038px + 420px);}
}